<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connect" connectionString="Server=LAPTOP-3OODPSQ7\SQLEXPRESS;Database=master;User Id=CryptogramUser;Password=CryptogramUser;Trusted_Connection=True;TrustServerCertificate=True;"/>
	</connectionStrings>
</configuration>